body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: #cddeff;
    --bg-success: #9bceae;
    --bg-warning: #fcfbc9;
    --bg-error: #fad3d7;
    --text-info: #605fb0;
    --text-success: #3d8c5d;
    --text-warning: #89750c;
    --text-error: #861d37;
    --border-info: #605fb0;
    --border-success: #3d8c5d;
    --border-warning: #89750c;
    --border-error: #861d37;
}

.message {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
    border: 1px solid var(--border-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
    border: 1px solid var(--border-success);
}

.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
    border: 1px solid var(--border-warning);
}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
    border: 1px solid var(--border-error)
}
